
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Playpen+Sans&display=swap');
  *{
    margin: 0;
    padding: 0;
  }
.App{
  font-family: 'Playpen Sans', cursive;
  background-image: url('https://wellness.mcmaster.ca/app/uploads/2021/10/Untitled-design-17.png');
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.header{
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  
}